<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredServer">
      <input type="text" id="statusFilter" [(ngModel)]="filteredStatus" class="position-fixed end-50">
      <hr>
      <h2>App Status: {{appStatus | async}}</h2>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredServer:'name' | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge rounded-pill bg-secondary position-absolute end-0 ">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:15 }}</strong> | {{ server.instanceType | uppercase }} | {{ server.started | date:'EEEE dd MMM y'}}
        </li>
      </ul>
    </div>
  </div>
</div>
